.popup {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgb(0 0 0 / 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}
.popup-container{
    width: 450px;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
}
.popup-container h1{
    font-size: 35px;
}
.popup-details-container{
    margin-top: 30px;
    overflow-y:scroll;
    max-height: 230px;
}
.popup-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 239, 239);
    padding: 10px;
    border: 2px solid white;
}
.popup-details-left{
    display: flex;
    gap: 10px;
}
.popup-details-left img{
    width: 55px;
    height: 55px;
}
.popup-details-left h3{
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}
.popup-details-left-quantity{
    display: flex;
    gap: 15px;
    margin-top: 8px;
}
.popup-details-left-quantity b{
    color: orangered;
}
.popup-details-left-quantity p{
    color: gray
}
.popup-details-right p{
    font-weight: 600;
}
.popup-details-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(247, 239, 239);
}
.popup-details-total p{
    font-size: small;
    font-weight: 400;
}
.popup-details-total b{
    font-size: larger;
}
.popup-btn{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
.popup-btn button{
    padding: 12px;
    border-radius: 25px;
    background-color: orangered;
    color: white;
    transition: 0.6s;
}
.popup-btn button:hover{
    transform: scale(1.1);
}

@media (max-width:450px) {
    .popup-container{
        width: 100%;
        padding: 1.4rem;
    }
}